<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3" >
    <div class="row my-3" >
        <div class="col-6">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-dark so" th:classappend="${sort == 'recent' ? 'active' : ''}" th:attr="onclick=|location.href='/question/list?kw=${kw}&page=${paging.number}&sort=recent'|">최신순 </button>
                <button type="button" class="btn btn-sm btn-dark so" th:classappend="${sort == 'recommend' ? 'active' : ''}" th:attr="onclick=|location.href='/question/list?kw=${kw}&page=${paging.number}&sort=recommend'|">추천순</button>
                <button type="button" class="btn btn-sm btn-dark so" th:classappend="${sort == 'popular' ? 'active' : ''}" th:attr="onclick=|location.href='/question/list?kw=${kw}&page=${paging.number}&sort=popular'|">조회순</button>
                <button type="button" class="btn btn-sm btn-dark so" th:classappend="${sort == 'answer' ? 'active' : ''}" th:attr="onclick=|location.href='/question/list?kw=${kw}&page=${paging.number}&sort=answer'|">댓글순</button>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-dark" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="table-dark">
        <tr class="text-center">
            <th style="width:10%">번호</th>
            <th style="width:10%">추천</th>
            <th style="width:40%">제목</th>
            <th style="width:10%">글쓴이</th>
            <th style="width:10%">조회수</th>
            <th style="width:20%">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question : ${paging}" th:onclick="|location.href='/question/detail/${question.id}'|">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - questionStat.index}"></td>
            <td th:text="${question.voter.size}"></td>
            <td class="text-start">
                <a class="link-dark" style="text-decoration-line: none;" th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
                </span>
            </td>
            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
            <td th:text="${question.view}"></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="col-6">
        <a th:href="@{/question/create}"  class="btn btn-dark">질문 등록하기</a>
    </div>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center pagination-padding-x-sm">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
        <input type="hidden" id="sort" name="sort" th:value="${sort}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;
        document.getElementById('sort').value = "recent";
        document.getElementById('searchForm').submit();
    });
</script>
</html>